<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105133918015-fucfcdkv0epgat3eir88mf6tal4bd07i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105133918015-fucfcdkv0epgat3eir88mf6tal4bd07i</string>
	<key>API_KEY</key>
	<string>AIzaSyDbulV4QWLPZmN5dPSaX1SFdReQ0p5tP6E</string>
	<key>GCM_SENDER_ID</key>
	<string>105133918015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.marsin</string>
	<key>PROJECT_ID</key>
	<string>marsin-e4819</string>
	<key>STORAGE_BUCKET</key>
	<string>marsin-e4819.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105133918015:ios:120c75fc3babf28470f58a</string>
</dict>
</plist>